.preview {
  position: relative;
  min-width: 550px;
}

.eyes {
  width: 60px;
  padding-left: 20px;
}

.eyesContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

g .x.axis,
g .y.axis,
g .x.origin,
g .y.origin {
  display:none;
}
